@import url('https://fonts.googleapis.com/css2?family=Monsterrat&display=swap');
body{
    background-image: linear-gradient(#636162, #b1afaf);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
}
*{
    margin: 0px; padding: 0px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    background-color: white;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
}
.left{
    background-color: #fbb03b;
    width: 200px;
    height:100%;
    float: left;
}
.right{
    width: 450px;
    float: left;
}
.profile-img{
    height: 180px;
    width: 180px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #fbb03b;
    box-shadow: 6px 7px 9px 5px #fbb03b73;
}
.profile-img img{
    width:100% ;
    height: 100%;
    border-radius: 50%;
}
.box-1{
    position: relative;
}
.heading{
    background-color: #4d4d4d;
    padding: 10px;
    color: #fbb03b;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}
.heading::after{
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;
    top: 29px;
    transform: rotate(56deg);
    z-index: -1;
}
.p1{
    padding: 9px 10px;
    font-size: 11px;
}
.icons1{
    padding: 10px !important;
    vertical-align: sub;
}
.skill-container{
    width: 90%;
    background-color: #4d4d4d;
    margin: 0px 10px;
    border-radius: 2px;
}
.skill{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    border-radius: 2px;
}
.html{
  width: 90%;
  background-color: white;
}
.css{
    width: 85%;
    background-color: white;
}
.js{
    width: 85%;
    background-color: white;
}
.web{
    width: 85%;
    background-color: white;
}
.gra{
    width: 85%;
    background-color: white;
}
.h-div i{
   padding: 18px 8px;
}
.name-div{
    padding: 86px 0px 60px 55px;
    text-align: center;
    letter-spacing: 3px;
}
.name-div h1{
    margin-bottom: 10px;
}
.box-2{
    padding: 15px 50px;
}
.p2{
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
}
h2{
    font-size: 16px;
    margin-bottom: 15px;
}
.icons3{
    padding: 10px !important;
    vertical-align: bottom;
}
.p3{
    font-size: 13px;
    word-spacing: 1px;
    letter-spacing: 0px;
    margin-top: 10px;
}
.p3 span{
    color: #ff9b00; padding-left: 20px;
}