:root{
    --bgcolor:#beb8ac;
    --blue:#2fb7fe;
    --black:#3D3F42;
    --white:#f4f7ff;
    --gray:#d8dce4;
    --lightgray:#8e9095;
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background-color: var(--bgcolor);
}
.clearfix{
    clear: both;
}
.resume-box{
    width: 800px;
    height: auto;
    margin: 100px auto;
    background: var(--white);
    box-shadow: 5px 21px 20px 20px #3d3f4238;
}
.left-section{
    background: var(--black);
    width: 250px;
    height: 1000px;
    float: left;
}
.profile{
    overflow: hidden;
    position: relative;
}
.blue-box{
    width: 257px;
    height: 407px;
    background-color:var(--blue) ;
    margin: -175px 0 0 -100px;
    transform: rotateZ(48deg);
    margin-top:-178pxj;
}
.profile-img{
    position: absolute;
    z-index: 9;
    width:120px;
    height: 120px;
    transform:translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border: 3px solid var(--gray);
}
.name{
    color: var(--gray);
    text-align: center;
    margin-top: -34px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}
.name span{
    color: var(--blue);
}
.n-p{
    width:180px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;
}
.info{
    margin-top: 50px;
}
.heading{
    width: 180px;
    margin: 0 auto;
    padding: 2px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;
    font-size:  18px;
}
.p1{
    color: var(--grey);
    width: 184px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 15px;
    line-height:14px ;
}
.p1 span{
    font-size: 12px;

}
.span1 i{
    padding: 6px;
    float: left;
    margin: 10px;
}
.right-section{
    padding: 40px 30px;
    background-color: var(--white);
    width: 68%;
    float: left;
    height: 1000px;
}
.right-heading i{
    padding: 7px;
    float:left;
    display: inline-block;
    margin-top: 6px;
}
.p2{
   margin: 0 auto;
   padding: 2px;
   border-bottom: 1px solid var(--lightgray);
   color: var(--black);
   text-transform: uppercase;
   font-size: 18px;
   font-weight: bolder;
   margin-left: 50px;
   line-height: 18px; 
}
.p3{
    margin-top: 20px;
    color: var(--lightgray);
    text-align: justify;
    word-spacing: -4px;
}
.left{
    width: 25%;
    float: left;
}
.right{
    width: 75%;
    float: left;
}
.lr-box{
   margin-top: 20px;
   margin-bottom: 20px;
}
.p4{
    font-size: 14px;
    font-weight: 600;
}
.p5{
    font-size: 12px;
    color: var(--lightgray);
}
.s-box{
   width: 48%;
   float: left;
   padding: 20px 20px 20px 0px; 
}
#progress{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}
#progress::after{
   content: '';
   display: block;
   background: var(--blue);
   width: 50%;
   height: 100%;
   border-radius: 9px; 
}
#progress1{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}
#progress1::after{
   content: '';
   display: block;
   background: var(--blue);
   width: 40%;
   height: 100%;
   border-radius: 9px; 
}
#progress2{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}
#progress2::after{
   content: '';
   display: block;
   background: var(--blue);
   width: 80%;
   height: 100%;
   border-radius: 9px; 
}
#progress3{
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
}
#progress3::after{
   content: '';
   display: block;
   background: var(--blue);
   width: 90%;
   height: 100%;
   border-radius: 9px; 
}
.p6{
    margin-top: 10px;
    margin-bottom:10px ;
}
.hobby i{
    margin:30px;
    /* padding: 30px; */
}