body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#myresume{
    width: 800px;
    height:1200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px 3px grey,-5px 5px 5px 3px grey;
}

#header{
  height: 150px;
  width: 900px;
  position: relative;
  background-color: rgb(255, 192, 203);
  z-index: 3;
  transform: matrix(1,0.1,0,1.3,0,-35);
}

#photo{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    position: relative;
    z-index: 4;
    transform: translate(50px,-120px);
}

#left-upper-triangle{
   height: 0px;
   width: 0px;
   position: relative;
   z-index: 2;
   border: 160px solid transparent;
   border-top: 160px solid rgba(124, 102, 102, 0.1);
   border-left: 160px solid rgba(140, 109, 109, 0.1);
   overflow: visible;
   transform: translateY(-220px);
}
.left-part{
    width: 35%;
    height: 1150px;
    background-color: rgb(243, 225, 228);
    transform: translateY(-550px);
    padding-left: 40px;
    display: inline-block;
}
.content{
    display: flex;
}

.right-part{
    width: 65%;
    height: 100%;
    display: inline-block;
    padding-left: 20px;
   transform: translateY(-460px);
   position: relative;
   z-index: 19;
}
.right-top-name{
    padding-left: 130px;
    transform: translateY(-130px);   
}
.title{
    font-weight: bold;
}
.light-font{
    color: rgb(98, 87, 87);
}
#progress1{
    background: #333;
    border-radius: 5px;
    height: 5px;
    width: 90%;
}
#progress1::after{
   content: '';
   display: block;
   background: rgb(240, 160, 174);
   width: 95%;
   height: 100%;
   border-radius: 5px; 
}
#progress2{
    background: #333;
    border-radius: 5px;
    height: 5px;
    width: 90%;
}
#progress2::after{
   content: '';
   display: block;
   background: rgb(240, 160, 174);
   width: 90%;
   height: 100%;
   border-radius: 5px; 
}
#progress3{
    background: #333;
    border-radius: 5px;
    height: 5px;
    width: 90%;
}
#progress3::after{
   content: '';
   display: block;
   background: rgb(240, 160, 174);
   width: 90%;
   height: 100%;
   border-radius: 5px; 
}
#progress4{
    background: #333;
    border-radius: 5px;
    height: 5px;
    width: 90%;
}
#progress4::after{
   content: '';
   display: block;
   background: rgb(240, 160, 174);
   width: 70%;
   height: 100%;
   border-radius: 5px; 
}
#progress5{
    background: #333;
    border-radius: 5px;
    height: 5px;
    width: 90%;
}
#progress5::after{
   content: '';
   display: block;
   background: rgb(240, 160, 174);
   width: 60%;
   height: 100%;
   border-radius: 5px; 
}
.hobby img{
    height: 30px;
    width: 30px;
    padding-right: 20px;
}
.my-name{
    font-size: 33px;
    transform: translateX(-30px);
}
.move-down{
    height: 100%;
    width: 100%;
    transform: translateY(170px);
}
