body{
    color: purple;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}
*{
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    justify-content: center; 
    /* align-items: center;  == for vertical alignment */
    width: 98vw;
    height: auto;
    padding: 40px;
    background-color: #dfe6e9;
}

.calender{
    margin: auto;
    width: 600px;
    margin: 30px;
    background-color: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0,0.2);
}

.month{
    align-items: center; 
    width: 100%;
    text-align: center; 
    background-color:rgb(250, 164, 179);
    color: white;
    padding: 40px 30px ;
}

.weekends{
    display: flex;
    background-color:rgb(245, 140, 157);
    color: white;
    padding: 7px 0px;
}
.days{
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    padding: 10px 0px;
}
.days div{
    margin-bottom: 10px;
    padding: 10px 0px;
    transition: all 0.4s ;
}
.weekends div,
.days div {
    width: 14.28%;
    text-align: center;
}
.green{
    background-color: greenyellow;
}