body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
*{
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    /* justify-content: center;   ==for horizontal alignment*/
    /* align-items: center;  == for vertical alignment*/
    width: 100vw;
    height: 100vh;
    background-color: #dfe6e9;
}

.calender{
    margin: auto;
    width: 600px;
    background-color: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0,0.2);
}

.month{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #2ecc71;
    color: white;
    padding: 40px 30px ;
}

.weekends{
    display: flex;
    background-color: #27ae60;
    color: white;
    padding: 7px 0px;
}

.days{
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    padding: 10px 0px;
}
.days div{
    margin-bottom: 10px;
    padding: 10px 0px;
    transition: all 0.4s ;
}
.days div:hover{
    background-color: #dfe6e9;
    cursor: pointer;
}
.weekends div,
.days div {
    width: 14.28%;
    text-align: center;
}

.today{
    background-color: #27ae60;
    color: white;
}

#month{
    font-size: 30px;
    font-weight:500 ;
}

.prev, 
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
   width: 50px;
   height: 50px;
   background-color:rgba(0, 0, 0,0.1);
   border-radius: 50%;
   transition: all 0.4s;
}

.prev:hover,
.next:hover{
    background-color: rgba(0, 0, 0,0.2);
    cursor: pointer;
}
