body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
} 
h1{
    font-size: 90px;
    margin: 50px auto 0 auto; 
    font-family: 'Sacramento', cursive;
    line-height: 2;
    color: #66bfbf;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal; 
    color: #66bfbf;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}
a{
    color: #11999e;
}
hr{
    width: 5%;
    height: 10px;
    border: none;
    border-top: 9px dotted gray;
    margin: 100px auto;
}
.top-container{
 background-color: #eaf6f6;
 position: relative;
 padding-top: 100px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;

}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.middle-container{
 margin: 100px 0;
}
.bottom-container{
  background-color: #66bfbf;
  margin: 100px 0 0 0;
  height: 200px;
}
.footer-link{
   text-decoration: none; 
   display: inline-block;
   margin:20px;
   font-family: 'Montserrat', sans-serif;
}
.footer-link:hover{
    color: #eaf6f6;
}
.btn{
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
    padding: 15px;
    color: #eaf6f6;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    background-image: linear-gradient(#11cdd4,#11999e);
}
.btn:hover{
    background-image: linear-gradient(#30e3cb,#2bc4ad);
}
.footer-surname{
    color: #eaf6f6;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.chilli-img{ 
    width: 25%;
    float: left;
    margin-right: 30px;
}
.computer-img{ 
    width: 25%;
    float: right;
    margin-left: 30px;
}
.my-pic{
    height: 200px;
    width: 200px;
}