body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}
.container-fluid{
    padding: 7% 15%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
p{
    color:#8f8f8f;
}
/* Sections */
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: #fff;
}
/* Navigation bar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
   font-family: "Ubuntu";
   font-size: 2.5rem;
   font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}
/* Download Buttuns */
.download-button{
  margin: 5% 3% 5% 0;
}
.img-parent{
position: relative;
padding: 1px;
}
/* Title Image */
.title-image{
 width: 45%;
 transform: rotate(25deg);
 position: absolute;
 right: 30%;
}
/* Features section */
#features{
 background-color: #fff;
 position: relative;
}
.feature-title{
    font-size: 1.5rem;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonials Section */
#testimonials{
    background-color: #ef8172;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-img{
    width: 20%;
    border-radius: 50%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 15px;
}

/* Pricing Section */
.pricing-text{
    font-size: 3rem;
    line-height: 1.5;
}
#pricing{
   padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
}

@media (max-width:1028px){
 #title{
    text-align: center;
 }
 .title-image{
    position: static;
    transform: rotate(0);
 }
}

/* Footer */
#footer{
    background-color: #fff;
    padding: 5% 3%;
}
.footer-icons{
    padding: 1% 1%;
}